body {
  /* add image from mi asstet */

  background-image: url("../static/fondo.png");
  /* background-image: url("../static/klei.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#intro {
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}
