body {
  /* add image from mi asstet */
  background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  /* background-image: url("../static/klei.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
