{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
                <form method="post">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        <label for="{{ form.id_card.id }}" class="form-label">Cedula de Identidad</label>
                        <div class="input-group">
                            {{ form.id_card_type(class="form-select") }}
                            {{ form.id_card(class="form-control") }}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.password.id }}" class="form-label">Contraseña</label>
                        {{ form.password(class="form-control", type="password") }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.role.id }}" class="form-label">Rol</label>
                        {{ form.role(class="form-select") }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100" x>Iniciar Sesión</button>
                    <a href="{{ url_for('register') }}" class="mt-3 d-block text-center">Registro</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}