<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Define la codificación de caracteres como UTF-8 -->
    <meta charset="UTF-8">
    <!-- Configura la vista para que sea compatible con dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <form method="post" action="/add_user">
            <input type="text" name="fname" placeholder="Enter first name"><br>
            <input type="text" name="lname" placeholder="Enter last name"><br>
            <input type="email" name="email" placeholder="Enter email"><br>
            <input type="password" name="password" placeholder="Enter password"><br>
            <button type="submit" value="signUp">create account</button>
        </form>
        <p>Already have an account <br><a href="/signUp">login</a></p>
    <main>
</body>
</html>
